html[theme='light'] {
  // basic
  --font-color: #8996aa;
  --bg-color: #eeeeee;
  --header-bgcolor: #181924;
  --link-color: var(--font-color);
  --input-fontcolor: #313445;
  --input-bgcolor: #{$grey-4};
  --input-placeholder-fontcolor: inherit;
  --q-color-primary: #00b2b2;
  --q-color-positive: #21ba45;
  --q-color-negative: #c10015;
  //主色
  --primary-color: #00b2b2;
  --primary-color-opacity: rgba(1, 195, 195, 0.1);
  //漸層色
  --gradient-color: linear-gradient(to right, #00b2b2, #00ebcc);
  //
  //輔助色
  --secondary-color: #2e2e36;
  --secondary-color-light: #32333e;
  --secondary-color-dark: #27272f;
  --secondary-color-opacity: rgba(45, 45, 55, 0.5);
  //強調色
  --accent-color: #d62246;
  --dialog-bgcolor: #fff;
  --dialog-fontcolor: #000;
  --dialog-title-fontcolor: var(--dialog-fontcolor);
  --dialog-title-fontsize: 18px;
  //灰階
  --grayscale-color: #7f7f7f;
  --grayscale-color-light: #eeeeee;
  --grayscale-color-dark: #454545;
  --grayscale-color-opacity: rgba(210, 210, 210, 0.75);
  --loginForm-bgcolor: var(--dialog-bgcolor, inherit);
  --loginForm-fontcolor: var(--dialog-fontcolor, inherit);
  --loginForm-title-fontcolor: var(--dialog-title-fontcolor, inherit);
  --loginForm-title-fontsize: var(--dialog-title-fontsize, inherit);
  --about-content-bg: rgba(35, 38, 53, 0.5);
  --about-content-color: var(--font-color);
  --select-bgcolor: var(--input-bgcolor);
  --select-fontcolor: var(--input-fontcolor);
  // 使用者銀行卡管理
  // --- user ---
  // --- user ---
  // --- user ---
  --user-color: #000;
  --user-card-color: #eeeeee;
  // sidebar
  --user-sidebar-bgcolor: #{rgba(grey, 0.2)};
  --user-sidebar--li-bgcolor--actived: var(--q-color-primary);
  // 使用者銀行卡片
  --user-bankcard--card-bgcolor: #{rgba(#000, 0.4)};
  --user-bankcard--card-color: #fff;
  // 一般input
  --user-form--input-color: var(--input-fontcolor);
  --user-form--input-bgcolor: var(--input-bgcolor);
  // 搜尋bar有不同的顏色
  --user-form--search-input-color: var(--input-fontcolor);
  --user-form--search-input-bgcolor: var(--input-bgcolor);
  --table-bgcolor: transparent;
  --table-color: #2b2e3e;
  --table--header-bgcolor: rgba(210, 210, 210, 0.75);
  --table--header-color: #2b2e3e;
  --table--tr-hover-color: inherit;
  --table--tr-odd-bgcolor: rgba(210, 210, 210, 0.75);
  --table--gridcard-bgcolor: rgba(210, 210, 210, 0.75);
  --table--gridcard-color: #2b2e3e;
}
