html[theme='light'] {
  // basic
  --font-color: #000;
  --bg-color: #fff;
  --header-bgcolor: #fff;
  --link-color: var(--font-color);
  --input-fontcolor: #313445;
  --input-bgcolor: #{$grey-4};
  --input-placeholder-fontcolor: inherit;
  // colors
  --q-color-primary: #1e83ff;
  --q-color-positive: #2aa524;
  --q-color-negative: #d23546;
  //主色
  //漸層色
  //
  --activityTab-color: #8996aa;
  --activityTab-bgcolor: #fff;
  --activityTab-borderColor: #1f212e;
  //輔助色
  //強調色
  --dialog-bgcolor: #fff;
  --dialog-fontcolor: #000;
  --dialog-title-fontcolor: var(--dialog-fontcolor);
  --dialog-title-fontsize: 18px;
  //灰階
  --loginForm-bgcolor: var(--dialog-bgcolor, inherit);
  --loginForm-fontcolor: var(--dialog-fontcolor, inherit);
  --loginForm-title-fontcolor: var(--dialog-title-fontcolor, inherit);
  --loginForm-title-fontsize: var(--dialog-title-fontsize, inherit);
  --about-sidebar-color: var(--font-color);
  --about-sidebar-bgcolor: #232635;
  --about-sidebar-itemActive-color: #fff;
  --about-sidebar-itemActive-bgcolor: #313445;
  --about-content-bg: rgba(255, 255, 255, 0.65);
  --select-bgcolor: var(--input-bgcolor);
  --select-fontcolor: var(--input-fontcolor);
  // 使用者銀行卡管理
  // --- user ---
  // --- user ---
  // --- user ---
  --user-color: #000;
  --user-card-color: #f4f4f4;
  // sidebar
  --user-sidebar-bgcolor: #{rgba(grey, 0.2)};
  --user-sidebar--li-bgcolor--actived: var(--q-color-primary);
  // 使用者銀行卡片
  --user-bankcard--card-bgcolor: #{rgba(#000, 0.4)};
  --user-bankcard--card-color: #fff;
  // 一般input
  --user-form--input-color: var(--input-fontcolor);
  --user-form--input-bgcolor: var(--input-bgcolor);
  // 搜尋bar有不同的顏色
  --user-form--search-input-color: var(--input-fontcolor);
  --user-form--search-input-bgcolor: var(--input-bgcolor);
  //Amy專用
  --menu-text-color: #000;
  --menu-text-hover: #fff;
  --menu-boder-hover: #fff;
  --header-to-bg-color: #{$grey-11};
  --table-bgcolor: transparent;
  --table-color: #2b2e3e;
  --table--header-bgcolor: #{$grey-3};
  --table--header-color: #2b2e3e;
  --table--tr-hover-color: inherit;
  --table--tr-odd-bgcolor: #{$grey-1};
  --table--gridcard-bgcolor: #{$grey-1};
  --table--gridcard-color: #2b2e3e;
}