html[theme] {
  // colors
  --q-color-primary: #00baba;
  --q-color-positive: #00ba51;
  --q-color-negative: #c20d00;
  --q-color-dark: #333333;
  --q-color-light: #fff;
  //基礎
  --font-color: #777;
  --bg-color: #eee;
  --header-bgcolor: var(--q-color-light); //上方選單背景
  --nav-bgcolor: #2d2e36; //左側主選單背景
  --nav--item-hover-bgcolor: #25262c; //左側主選單:hover背景
  //優惠活動Tab
  //彈窗：使用在登入、註冊、跑馬燈、優惠內容
  --dialog-bgcolor: #fcfcfc;
  --dialog-fontcolor: var(--font-color);
  --dialog-title-fontcolor: var(--dialog-fontcolor);
  //電子遊藝
  --toolbar-bgcolor: #f5f5f5;
  --game-card-bgcolor: var(--toolbar-bgcolor); //遊戲項目背景色
  //關於我們 側邊攔.sidebar：因為CSS結構與命名沒對應到，所以目前沒作用
  //關於我們 內容.about-content
  //登入與註冊
  --dialog-title-fontsize: 18px; //登入、註冊的標題
  --loginForm-bgcolor: var(--dialog-bgcolor, inherit); //登入、註冊的背景
  --loginForm-fontcolor: var(--dialog-fontcolor, inherit); //切換登入方式的文字顏色
  --loginForm-title-fontcolor: var(--dialog-title-fontcolor, inherit); //登入、註冊的標題顏色
  --loginForm-title-fontsize: var(--dialog-title-fontsize, inherit); //登入、註冊的標題字級
  //個人中心：基礎
  --user-color: #{$grey-9}; //個人中心文字顏色
  --user-card-color: var(--q-color-light); //個人中心、團隊中心、登出、忘記密碼的背景色
  --user-sidebar-bgcolor: var(--user-card-color, inherit); //sidebar背景色
  //表單：基礎
  --input-bgcolor: #{$grey-3}; //表單：輸入框、下拉的背景色
  --input-fontcolor: var(--font-color); //表單：輸入框、下拉的文字顏色
  //充值、轉帳
  --user-form--input-bgcolor: var(--input-bgcolor);
  --user-form--input-color: var(--input-fontcolor);
  //投注紀錄、交易紀錄、個人資料：日期、下拉表單
  --user-form--search-input-bgcolor: var(--input-bgcolor);
  --user-form--search-input-color: var(--input-fontcolor);
  //下拉選單：背景色與文字，目前註解就是延用Adom版設定
  //表格
  --table-bgcolor: #{$grey-2};
  --table-color: var(--font-color);
  --table--header-bgcolor: var(--q-color-primary);
  --table--header-color: var(--q-color-light);
  --table--tr-hover-color: inherit; //表格hover 文字顏色
  --table--tr-odd-bgcolor: #{rgba(#ddd, 0.5)};
  //刪除站內信，再次確認
  --table--gridcard-bgcolor: var(--table-bgcolor);
  --table--gridcard-color: var(--table-color);
  //個人中心 側邊攔.user-sidebar，目前註解就是延用Adom版設定
  --user-sidebar--li-bgcolor--actived: var(--q-color-primary); //sidebar啟用狀態，背景色
}