html[theme] {
  --q-color-primary: ;
  --q-color-secondary: ;
  --q-color-accent: ;
  --q-color-positive: ;
  --q-color-negative: ;
  --q-color-info: ;
  --q-color-warning: ;
  --q-color-dark: ;
  --q-color-light: ;
  --font-color: ;
  --bg-color: ;
  --link-color: ;
  --header-bgcolor: ;
  --nav-bgcolor: ;
  --nav--item-hover-bgcolor: ;
  // --footer-bgcolor: ;
  // --activityTab-bgcolor: ;
  // --activityTab-color: ;
  // --activityTab-active-color: ;
  // --activityTab-active-bgcolor: ;
  // --activityTab-borderColor: ;
  --dialog-bgcolor: ;
  --dialog-fontcolor:  var(--font-color);
  --dialog-title-fontcolor:  var(--dialog-fontcolor);
  --toolbar-bgcolor: ;
  --game-card-bgcolor: ;
  // --about-sidebar-color: ;
  // --about-sidebar-bgcolor: ;
  // --about-sidebar-itemActive-color: ;
  // --about-sidebar-itemActive-bgcolor: ;
  // --about-content-bg: ;
  // --about-content-color: ;
  // --about-content-title-color: ;
  --dialog-title-fontsize: ;
  --loginForm-bgcolor: ;
  --loginForm-fontcolor: ;
  --loginForm-title-fontcolor: ;
  --loginForm-title-fontsize: ;
  --user-attention-color: ;
  --user-color: ;
  --user-card-color: ;
  --user-btn-color: ;
  --user-sidebar-bgcolor: ;
  --input-bgcolor: ;
  --input-fontcolor: ;
  --user-form--input-bgcolor:  var(--input-bgcolor);
  --user-form--input-color: ;
  --user-form--search-input-bgcolor:  var(--input-bgcolor);
  --user-form--search-input-color:  var(--input-fontcolor);
  // --select-bgcolor: ;
  // --select-fontcolor: ;
  --table-bgcolor: ;
  --table-color: ;
  --table--header-bgcolor: ;
  --table--header-color: ;
  --table--tr-hover-color: ;
  --table--tr-odd-bgcolor: ;
  --table--gridcard-bgcolor: ;
  --table--gridcard-color: ;
  // --user-sidebar--li-color--actived: ;
  --user-sidebar--li-bgcolor--actived: ;
  --activityTab-color: ;
  --activityTab-bgcolor: ;
  --activityTab-borderColor: ;
  --promotions-htmlContent: ;
  --about-sidebar-color: ;
  --about-sidebar-bgcolor: ;
  --about-sidebar-itemActive-color: ;
  --about-sidebar-itemActive-bgcolor: ;
  --about-content-bg: ;
  --about-content-color: ;
  --about-content-title-color: ;
  --footer-bgcolor: ;
  --activityTab-active-color: ;
  --activityTab-active-bgcolor: ;
  // --user-form--input-color: ;
  --user-sidebar--li-color--actived: ;
  --input-placeholder-fontcolor: ;
  --select-bgcolor: ;
  --select-fontcolor: ;
  --user-bankcard--card-bgcolor: ;
  --user-bankcard--card-color: ;
  // --q-color-primary: ;
  // --q-color-secondary: ;
  // --q-color-accent: ;
  // --q-color-positive: ;
  // --q-color-negative: ;
  // --q-color-info: ;
  // --q-color-warning: ;
  // --q-color-dark: ;
  // --font-color: ;
  // --bg-color: ;
  // --link-color: ;
  // --header-bgcolor: ;
  // --dialog-bgcolor: ;
  // --dialog-fontcolor: ;
  // --dialog-title-fontcolor: ;
  // --toolbar-bgcolor: ;
  // // --about-sidebar-color: ;
  // // --about-sidebar-bgcolor: ;
  // // --about-sidebar-itemActive-color: ;
  // // --about-sidebar-itemActive-bgcolor: ;
  // // --about-content-color: ;
  // // --about-content-title-color: ;
  // --dialog-title-fontsize: ;
  // --loginForm-bgcolor: ;
  // --loginForm-fontcolor: ;
  // --loginForm-title-fontcolor: ;
  // --loginForm-title-fontsize: ;
  // --user-attention-color: ;
  // --user-color: ;
  // --user-card-color: ;
  // --input-bgcolor: ;
  // --input-fontcolor: ;
  // --user-form--input-bgcolor: ;
  // --user-form--search-input-bgcolor: ;
  // --user-form--search-input-color: ;
  // // --select-bgcolor: ;
  // // --select-fontcolor: ;
  // --table-bgcolor: ;
  // --table-color: ;
  // --table--header-bgcolor: ;
  // --table--header-color: ;
  // --table--tr-hover-color: ;
  // --table--tr-odd-bgcolor: ;
  // --table--gridcard-bgcolor: ;
  // --table--gridcard-color: ;
  // --user-sidebar--li-bgcolor--actived: ;
  // --user-sidebar-bgcolor: ;
  --content-color: ;
  --current-color: ;
  --hover-color: ;
  --date-color: ;
  --border-color: ;
  --Navborder-color: ;
  --bulletinBoardVertical-fontcolor: ;
}