html[theme] {
  --font-color:  #8996aa;
  --bg-color: ;
  --header-bgcolor: ;
  --link-color:  var(--font-color);
  --q-color-primary: ;
  --q-color-positive: ;
  --q-color-negative: ;
  --activityTab-color: ;
  --activityTab-bgcolor: ;
  --activityTab-borderColor: ;
  --promotions-htmlContent: ;
  --dialog-bgcolor: ;
  --dialog-fontcolor: ;
  --dialog-title-fontcolor:  var(--dialog-fontcolor);
  --dialog-title-fontsize:  18px;
  --loginForm-bgcolor:  var(--dialog-bgcolor, inherit);
  --loginForm-fontcolor:  var(--dialog-fontcolor, inherit);
  --loginForm-title-fontcolor:  var(--dialog-title-fontcolor, inherit);
  --loginForm-title-fontsize:  var(--dialog-title-fontsize, inherit);
  --about-sidebar-color:  var(--font-color);
  --about-sidebar-bgcolor: ;
  --about-sidebar-itemActive-color: ;
  --about-sidebar-itemActive-bgcolor: ;
  --about-content-bg:  rgba(35, 38, 53, 0.5);
  --about-content-color:  var(--font-color);
  --about-content-title-color: ;
  --input-fontcolor:  var(--font-color);
  --input-bgcolor: ;
  --input-placeholder-fontcolor: ;
  --primary-color: ;
  --primary-color-opacity: ;
  --gradient-color: ;
  --secondary-color: ;
  --secondary-color-light: ;
  --secondary-color-dark: ;
  --secondary-color-opacity: ;
  --accent-color: ;
  --grayscale-color: ;
  --grayscale-color-light: ;
  --grayscale-color-dark: ;
  --grayscale-color-opacity: ;
  --select-bgcolor:  var(--input-bgcolor);
  --select-fontcolor:  var(--input-fontcolor);
  --user-color: ;
  --user-card-color: ;
  --user-sidebar-bgcolor: ;
  --user-sidebar--li-bgcolor--actived:  var(--q-color-negative);
  --user-bankcard--card-bgcolor: ;
  --user-bankcard--card-color: ;
  --user-form--input-color:  var(--input-fontcolor);
  --user-form--input-bgcolor:  var(--input-bgcolor);
  --user-form--search-input-color:  var(--input-fontcolor);
  --user-form--search-input-bgcolor:  var(--input-bgcolor);
  --table-bgcolor: ;
  --table-color: ;
  --table--header-bgcolor: ;
  --table--header-color: ;
  --table--tr-hover-color: ;
  --table--tr-odd-bgcolor: ;
  --table--gridcard-bgcolor: ;
  --table--gridcard-color: ;
  --q-color-secondary: ;
  --q-color-accent: ;
  --q-color-dark: ;
  --q-color-info: ;
  --q-color-warning: ;
  --menu-text-color: ;
  --menu-text-hover: ;
  --menu-boder-hover: ;
  --header-to-bg-color: ;
}